{if $langId === 2}
<div class="notice-error">
    401 NEOPRÁVNĚNÝ PŘÍSTUP
</div>
{else}
<div class="notice-error">
    401 UNAUTHORIZED
</div>
{/if}
<div class="notice__arrow">↓</div>
<a class="notice__home" href="/">Home</a>