{if $langId === 2}
<div class="notice-error">
    403 ZAKÁZÁNO
</div>
{else}
<div class="notice-error">
    403 FORBIDDEN
</div>
{/if}
<div class="notice__arrow">↓</div>
<a class="notice__home" href="/">Home</a>