{if $langId === 2}
    <div class="notice-error">
        404 NENALEZENO
    </div>
{else}
    <div class="notice-error">
        404 NOT FOUND
    </div>
{/if}
<div class="notice__arrow">↓</div>
<a class="notice__home" href="/">Home</a>