{if $langId === 2}
<div class="notice-error">
    ÚČET ODSTRANĚN
</div>
{else}
<div class="notice-error">
    ACCOUNT DELETED
</div>
{/if}
<div class="notice__arrow">↓</div>
<a class="notice__home" href="/">Home</a>