{if $langId === 2}
<div class="notice-error">
    INTERNÍ CHYBA SERVERU
</div>
{else}
<div class="notice-error">
    FAILURE, INTERNAL SERVER ERROR
</div>
{/if}
<div class="notice__arrow">↓</div>
<a class="notice__home" href="/">Home</a>