{if $langId === 2}
<div class="notice-error">
    TATO FUNKCE POUŽÍVÁ COOKIES
</div>
{else}
<div class="notice-error">
    THIS FEATURE REQUIRES COOKIES
</div>
{/if}
<div class="notice__arrow">↓</div>
<a class="notice__home" href="/">Home</a>