{if $langId === 2}
<div class="notice-success">
    ODHLÁŠEN
</div>
{else}
<div class="notice-success">
    LOGGED OUT
</div>
{/if}
<div class="notice__arrow">↓</div>
<a class="notice__home" href="/">Home</a>