{if $langId === 2}
<div class="notice-success">
    POVEDLO SE
</div>
{else}
<div class="notice-success">
    SUCCESS
</div>
{/if}
<div class="notice__arrow">↓</div>
<a class="notice__home" href="/">Home</a>