<!--suppress HtmlUnknownTarget -->
<nav class="breadcrumbs">
    <a class="breadcrumbs__breadcrumb" href="/{$langCode}">{$langCode|substr:0:2}</a> ›
    <a class="breadcrumbs__breadcrumb" href="{$_SERVER['REQUEST_URI']}"><h1>Legal › Credits</h1></a> ›
</nav>